
   ::-webkit-scrollbar {
    width: 15px;
    cursor: all-scroll;
  }

   ::-webkit-scrollbar-track {
    background: #99e6ff;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: #0099cc;
    -webkit-border-radius: 0;
    border-radius: 0;
  }