#sidebar {
    font-family: Museo Sans For Dell !important;
    position: fixed;
    left: 250px;
    width: 250px;
    top: 36px;
    height: 100%;
    margin-left: -250px;
    padding-top: 18px;
    padding-bottom: 22%;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #0085c3;
    color: white;

  ol, ul, li {
    list-style: none;
  }

  .sidebarChild {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  }

  li.sidebarParent {
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: -3px;
  }

  li {
    padding: 5px 0px 5px 2px;
    clear: both;
    white-space: nowrap;

    a {
      color: white;
      text-decoration: none;
    }

    .methodBtn {
      padding: 4px 4px;
      margin-right: 4px;
      color: #0085c3;
      font-size: 11px;
      display: block;
      width: 28px;
      float: left;
      vertical-align: top;
      font-weight: bold;
      background-color: white;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -khtml-border-radius: 3px;
      border-radius: 3px;
    }

    .childTxt {
      width: 145px;
      display: block;
      vertical-align: top;
      white-space: normal;
      margin-top: 3px;
      float: left;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
    }

    .btn-post {
      color: #10a54a;
    }

    .btn-get {
      color: #0f6ab4;
    }

    .btn-put {
      color: #c5862b;
    }

    .btn-delete {
      color: #a41e22;
    }

    .btn-post {
      color: #10a54a;
    }

    .btn-patch {
      color: #d38042;
    }

    .btn-options {
      color: #0f6ab4;
    }

    .btn-head {
      color: #ffd20f;
    }
  }


  li {
    padding: 10px 0px 10px 10px;
  }

  .childTxt {
    width: 245px;
    font-family: Museo Sans For Dell;
    font-weight: bold;
  }

  .methodBtn {
    width: 50px;
  }

  .sidebarParent {
    font-family: Museo Sans For Dell;
  }



}

.collapseExpandIcon {
  position: fixed;
  font-size: 16px;
  z-index: 1005;
  top: 90px;
  left: 250px;
  height: 17px;
  width: 29px;
  line-height: 7px;
  padding: 5px;
  border-radius: 0px 8px 8px 0px;
  background-color: #0085c3;
  color: white;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}