table {
    width: 100%;
    padding: 0 10px;
    border-collapse: collapse;
    &.model {
        tbody {
            tr {
                td {
                    padding: 0;
                    vertical-align: top;
                    &:first-of-type {
                        width: 100px;
                        padding: 0px 0 0 40px;
                    }
                }
            }
        }
    }
    &.headers {
        td {
            font-size: 12px;
            font-weight: 300;
            vertical-align: middle;
            @include text_code();
        }
    }
    tbody {
        tr {
            td {
                padding: 10px 0 0 0;
                border-bottom: 20px solid transparent;
                vertical-align: top;
                &:first-of-type {
                    width: 20%;
                    padding: 10px 0;
                }
            }
        }
    }
    thead {
        tr {
            th,
            td {
                font-size: 12px;
                font-weight: bold;
                padding: 12px 0;
                text-align: left;
                border-bottom: 1px solid rgba(#3b4151, .2);
                @include text_body();
            }
        }
    }
}

.propName {
    font-size: 18px;
    color: green;
}

.parameters-col_name {
    position: relative;
    display: inline-block;
    width: 15%;
    vertical-align: top;
    padding-top: 20px;
}

.parameters-col_description {
    display: inline-block;
    width: 85%;
    p {
        font-size: 14px;
        margin: 0;
    }
    input[type=text] {
        width: 100%;
        max-width: 340px;
    }
}

.parameter__name {
    font-size: 16px;
    font-weight: normal;
    @include text_headline();
}

.required {
    font-weight: bold;
    font-size: 12px !important;
    color: rgba(#f00, .6) !important;
}

.parameter__in {
    font-size: 12px;
    font-style: italic;
    @include text_code(#888);
}

.table-container {
    padding: 0 20px 20px 20px;
}

.addNewHeader {
    font-size: 12px;
    cursor: pointer; //  font-family: Arial, "Times New Roman", Georgia, Serif;
    color: #3b4151;
    user-select: none;
    .plusIcon {
        border-radius: 20px;
        background: #49cc90;
        color: white;
        padding: 0px 4px;
    }
}

.customHeaderList {
    width: 100%;
    list-style-type: none;
    padding-left: 15px;
    input {
        width: 35% !important;
    }
}

.docsPopup {
    position: absolute;
    top: 90px;
    z-index:1006;
    left: -285px;
    width: 270px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: 7px 14px 36px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 7px 14px 36px 0 rgba(0, 0, 0, 0.7);
    h3 {
        margin-top: -5px;
        margin-bottom:5px;
        color:green;
    }
}

.docsPopup:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-left: 15px solid white;
    border-bottom: 3px solid transparent;
  }