@mixin text_body($color: #3b4151)
{
     font-family: Arial, "Times New Roman", Georgia, Serif;

    color: $color;
}

@mixin text_code($color: #3b4151)
{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;

    color: $color;
}

@mixin text_headline($color: #3b4151)
{
     font-family: Arial, "Times New Roman", Georgia, Serif;

    color: $color;
}

textarea {
    font-family: 'Source Code Pro', monospace;
}